{% extends "templates/base.html" %}


{% block content %} 
<h2>Gallery</h2>

<section class="gallery">
	<a href="static/band.jpg" data-lightbox="pics" data-title="Audra and Amanda kinda like marching band"><img src="static/band.jpg" alt="band" class = "img-thumbnail"></a>
	<a href="static/2nddegree.jpg" data-lightbox="pics" data-title="Second Degree"><img src="static/2nddegree.jpg" alt="2nd Degree" class = "img-thumbnail"></a>
	<a href="static/bagels.jpg" data-lightbox="pics" data-title="Enjoying the world's most beautiful bagel in NYC!"><img src="static/bagels.jpg" alt="bagels" class = "img-thumbnail"></a>
	<a href="static/bro.jpg" data-lightbox="pics" data-title="#2kool4skool"><img src="static/bro.jpg" alt="friends" class = "img-thumbnail"></a>
	<a href="static/centralpark.jpg" data-lightbox="pics" data-title="Did you know that there are swings in Central Park?"><img src="static/centralpark.jpg" alt="Central Park" class = "img-thumbnail"></a>
	<a href="static/cupcakes.jpg" data-lightbox="pics" data-title="Look we made cupcakes for a KKY/TBS function"><img src="static/cupcakes.jpg" alt="Making cupcakes" class = "img-thumbnail"></a>
	
	<a href="static/food.jpg" data-lightbox="pics" data-title="These are our other friends"><img src="static/food.jpg" alt="Food" class = "img-thumbnail"></a>
	<a href="static/game.jpg" data-lightbox="pics" data-title="Trying not to cry at the MSU game"><img src="static/game.jpg" alt="Football game" class = "img-thumbnail"></a>
	<a href="static/hawaii.jpg" data-lightbox="pics" data-title="UMix is bae"><img src="static/hawaii.jpg" alt="UMix" class = "img-thumbnail"></a>
	<a href="static/kesha.jpg" data-lightbox="pics" data-title="I'm Kesha, you're Kesha... we're all Kesha"><img src="static/kesha.jpg" alt="Dressing up as Kesha" class = "img-thumbnail"></a>
	<a href="static/kookookangaroo.jpg" data-lightbox="pics" data-title="Matching shirts holla"><img src="static/kookookangaroo.jpg" alt="Matching shirts" class = "img-thumbnail"></a>
	<a href="static/leaves.jpg" data-lightbox="pics" data-title="We made a leaf pile in the Law Quad because we are children at heart"><img src="static/leaves.jpg" alt="Fall" class = "img-thumbnail"></a>
	
	<a href="static/mural.jpg" data-lightbox="pics" data-title="We tried to art"><img src="static/mural.jpg" alt="Mural" class = "img-thumbnail"></a>
	<a href="static/pizza.jpg" data-lightbox="pics" data-title="Heart shaped cheesy bread is bae"><img src="static/pizza.jpg" alt="Pizza" class = "img-thumbnail"></a>
	<a href="static/pumpkins.jpg" data-lightbox="pics" data-title="We are pumpkins"><img src="static/pumpkins.jpg" alt="Pumpkins" class = "img-thumbnail"></a>
	<a href="static/trump.jpg" data-lightbox="pics" data-title="Yikes"><img src="static/trump.jpg" alt="Picture in front of Trump Building in NYC" class = "img-thumbnail"></a>
	<a href="static/todayshow.jpg" data-lightbox="pics" data-title="Reppin' the maize and blue on the Today Show"><img src="static/todayshow.jpg" alt="Today Show" class = "img-thumbnail"></a>
	<a href="static/thomas.jpg" data-lightbox="pics" data-title="Is Thomas our friend?"><img src="static/thomas.jpg" alt="Thomas" class = "img-thumbnail"></a>
	
	<a href="static/stalker.jpg" data-lightbox="pics" data-title=";)"><img src="static/stalker.jpg" alt="Friends" class = "img-thumbnail"></a>
	<a href="static/sectiondinner.jpg" data-lightbox="pics" data-title="Betcha can't tell we were marching all day before this picture was taken"><img src="static/sectiondinner.jpg" class = "img-thumbnail"></a>
	<a href="static/sdivision.jpg" data-lightbox="pics" data-title="We found S Division St. on the west side of the state"><img src="static/sdivision.jpg" alt="S Division St" class = "img-thumbnail"></a>
	<a href="static/rcmap.jpg" data-lightbox="pics" data-title="Hanging' with our rad RC MAP mentees at a football game"><img src="static/rcmap.jpg" alt="RC MAP" class = "img-thumbnail"></a>
	<a href="static/skit.jpg" data-lightbox="pics" data-title="We were on SNL ... jk, it was Revelli Open Mic Night"><img src="static/skit.jpg" alt="skit" class = "img-thumbnail"></a>
	<a href="static/danceparty.jpg" data-lightbox="pics" data-title="Selfie stick pictures yasssss"><img src="static/danceparty.jpg" alt="Selfie stick" class = "img-thumbnail"></a>
	<a href="static/timessquare.jpg" data-lightbox="pics" data-title="NYC"><img src="static/timessquare.jpg" alt="Times Square" class = "img-thumbnail"></a>
	<a href="static/springlake.jpg" data-lightbox="pics" data-title="We saw a concert and then took this picture woo"><img src="static/springlake.jpg" alt="M Flag" class = "img-thumbnail"></a>
	<a href="static/plume.jpg" data-lightbox="pics" data-title="Volunteering for uniform handout"><img src="static/plume.jpg" alt="Plume" class = "img-thumbnail"></a>
	<a href="static/bridge.jpg" data-lightbox="pics" data-title="Audra is terrified of heights"><img src="static/bridge.jpg" alt="Brooklyn Bridge" class = "img-thumbnail"></a>

</section>
<script src="static/lightbox-plus-jquery.js"></script>
{%endblock%}

