body {
	background-image: url("bandbg.jpg");
	background-repeat: repeat-xy;
    background-attachment: fixed;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

p, li {
	text-indent: 50px;
	font-family: 'Lora', serif;
	line-height: 25px;
	color:  #33336F;
}

header {
	background-color: #d0d0e3;
	position: fixed;
	height: 100px;
	top: 0px;
	width: 80%;
	padding: 10px;
	box-shadow: 0px 10px 10px #777;

}

.img-circle {
	height: 75px;
	width: 75px;
	vertical-align: middle;
	margin-right: 3px;
	border-radius: 50%;
}

h1, h2{
	font-family: 'Playfair Display', serif;
	letter-spacing: 5px;
	font-size: xx-large;
	text-align: center;
	padding-bottom: 7px;

}

h3 {
	font-family: 'Lora', serif;
	letter-spacing: 3px;
	padding: 5px;
	font-size: x-large;
}

h4 {
	font-family: 'Lora', serif;
	letter-spacing: 1px;
	padding: 3px;
	font-size: large;
}

footer {
	background-color: #f2f2f2;
	position: fixed;
  	bottom: 0px;
  	width: 80%;
  	padding: 10px;
  	color: #33336F;
  	border-top: 1px solid #d5d5d8;
  	color:  #33336F;
  	font-family: 'Lora', serif;
	line-height: 25px;
}


#navhead {
	display: inline;
	padding-left: 50px;
}

nav {
	display: inline;
	font-size: 20px;
	padding-left: 50px;
	padding-right: 50px;
}


nav a {
	padding-left: 30px;
	color: #CC033C;
}

.navclass {
	list-style: none;
	display: inline-block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
	display: inline;
	font-family: 'Alegreya Sans SC', sans-serif;
}

a.current {
	color: black;
}

a {
	text-decoration: none;
}

.img-thumbnail {
	height: 100px;
	padding: 2px;
	background-color: white;
	border: 1px solid #555;
	border-radius: 2px;
}

.gallery {
	text-align: justify;

}

/*.twitter_timeline {
	position: fixed;
}*/


.both {
	background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
    bottom:100px;
    top: 0px;
    height: 100vh;
}

#socialmedia {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}

#socialmedia li{
	display: inline;
}

#socialmedia img{
	width: 40px;
	padding: 10px;
	vertical-align: middle;
}


@media only screen and (min-width: 400px) {
	.main, .side {
		display: block;
	}

	.main {
		width: 100%;
	    padding: 10px;
	}

	.side {
		width: 100%;
	    padding: 10px;
	    margin-top: 5px;
	}

	#socialmedia {
		display: block;
	}

	footer {
		text-align: center;
	}

}

@media only screen and (min-width: 800px) {
	*, *:before, *:after {
	  -moz-box-sizing: border-box; 
	  -webkit-box-sizing: border-box; 
	  box-sizing: border-box;
	}

	.main {
		width: 75%;
	    float: left;
	    padding: 30px;
	}

	.side {
		width: 25%;
	    float: left;
	    padding: 30px;
	    margin-top: 0px;
	}

	#socialmedia {
		display: inline;
	}

	footer {
		text-align: left;
	}
}

@media only screen and (min-width: 1200px) {
	*, *:before, *:after {
	  -moz-box-sizing: border-box; 
	  -webkit-box-sizing: border-box; 
	  box-sizing: border-box;
	}

	.main {
		width: 75%;
	    float: left;
	    padding: 30px;
	}

	.side {
		width: 25%;
	    float: left;
	    padding: 30px;
	    margin-top: 0px;
	    
	}

	#socialmedia {
		display: inline;
	}

	footer {
		text-align: left;
	}

}

@media print {
	body {
		background-image: none;
	}

	nav {
		display: none;
	}
}

