*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
	background-image: url("bandbg.jpg");
	background-repeat: repeat-xy;
    background-attachment: fixed;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

header {
	background-color: white;
	position: fixed;
	height: 100px;
	top: 0px;
	width: 80%;
	padding: 10px;

}

header h1{
	font-weight: 900;
}

header img {
	border-radius: 50%;
}

footer {
	background-color: #ffffff;
	position: fixed;
  	bottom: 0px;
  	width: 80%;
  	padding: 10px;
}

#navhead {
	display: inline;
	padding-left: 50px;
}

nav {
	display: inline;
	font-size: 20px;
	padding-left: 50px;
	padding-right: 50px;
}


nav a {
	padding-left: 30px;
}

.navclass {
	list-style: none;
	display: inline-block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
	display: inline;
}

a {
	text-decoration: none;
}

.img-thumbnail {
	height: 100px;
	padding: 2px;
	background-color: white;
	border: 1px solid #555;
	border-radius: 2px;
}

.gallery {
	text-align: center;
}

/*.twitter_timeline {
	position: fixed;
}*/

div {
	background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
    bottom:0px;
    top: 0px;
    height: 100vh;
}

.both {
	height: 100%;
}
.main {
	width: 75%;
    float: left;
    padding: 30px;
}

.side {
	width: 25%;
    float: left;
    padding: 30px;
}

#socialmedia {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}

#socialmedia li{
	display: inline;
}

#socialmedia img{
	width: 40px;
	padding: 10px;
}


@media only screen and (min-width: 400px) {


}

@media only screen and (min-width: 800px) {
	
}

@media only screen and (min-width: 1200px) {
	
}

@media print {
	body {
		background-image: none;
	}

	nav {
		display: none;
	}
}

